$purple-shock: #7C3AED;
$purple-dark: #CAB3FF;
$purple-light: #E2D6FF;

$title-strong: #403937;
$text: #756966;

$withe: #FFFFFF;
$gray-50: #E3E3E3;
$gray-100: #C7C7CD;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: $purple-shock;  
    font-size: 1rem;
}